@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    display: flex;
}

body::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg"), #000;
    background-position: center;
    background-size: cover;
    content: "";
}

.wrapper {
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid #0f0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 400px;
    z-index: 1000;
    position: absolute;
    background: #222;  
}

form {
    flex-direction: column;
    display: flex;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 2rem;
}

.input-field {
    border-bottom: 2px solid #0f0;
    margin: 15px 0;
    position: relative;
}

.input-field label {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
    position: absolute;
}

.input-field input {
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
}

.input-field input:focus~label,
.input-field input:valid~label {
    top: 10px;
    transform: translateY(-120%);
    font-size: 0.8rem;
}

.forget {
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
    display: flex;
}

#remember {
    accent-color: #fff;
}

.forget label {
    align-items: center;
    display: flex;
}

.forget label p {
    margin-left: 8px;
}

.wrapper a {
    text-decoration: none;
    color: #efefef;
}

.wrapper a:hover {
    text-decoration: underline;
}

button {
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    background: #fff;
}

button:hover {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
}

.register {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}


section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000,#0f0,#000);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
    transform: translateY(-100%);
        }
    100% {
    transform: translateY(100%);
    }
}
section span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}
section span:hover {
    background: #0f0;
    transition: 0s;
}