<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="wrapper">
    <h2>Welcome, {{ username }}!</h2>
    <p>You are logged in successfully.</p>
    <a href="/logout" class="button">Logout</a>
    </div>
    <script>
        if (performance.navigation.type === 2) { // '2' means back/forward navigation
            window.location.href = "/login"; // Redirect to login or a specific logout message page
        }
    </script>
    
</body>
</html>
